# Step 1: Data Preparation

In [10]:
import pandas as pd
import numpy as np

In [2]:
# Assuming category_data is your DataFrame with relevant columns
# Example columns: 'category_id', 'user_id', 'price', 'is_purchase', 'brand', 'category_code', etc.

In [3]:
import warnings

In [4]:
warnings.filterwarnings('ignore')

In [5]:
# Load the datasets
oct_df = pd.read_csv('/data/CausalTrial/2019-Oct.csv')  # Update the path to your October dataset
nov_df = pd.read_csv('/data/CausalTrial/2019-Nov.csv')  # Update the path to your November dataset

In [6]:
# Combine the data
data = pd.concat([oct_df, nov_df])

In [7]:
del(oct_df)
del(nov_df)

In [8]:
data.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [11]:
data.replace([np.inf, -np.inf], np.nan, inplace=True)

In [12]:
data.dropna(inplace=True)

In [13]:
data.isnull().sum()

event_time       0
event_type       0
product_id       0
category_id      0
category_code    0
brand            0
price            0
user_id          0
user_session     0
dtype: int64

In [14]:
# Step 1: Filter the dataset to include only purchase events
data['is_purchase'] = data['event_type'].apply(lambda x: 1 if x == 'purchase' else 0)

In [15]:
# Get unique category IDs
categories = data['category_id'].unique()

In [16]:
# Function to prepare data for each category
def prepare_data_for_category(category_id):
    # Filter data for the current category_id
    category_df = data[data['category_id'] == category_id].copy()
   
    # Aggregate user-level data (this can be customized)
    user_agg = category_df.groupby('user_id').agg({
        'price': 'mean',         # Example metric: average price sensitivity
        'is_purchase': 'mean',   # Example metric: average purchase rate
    }).reset_index()
   
    return category_df, user_agg

In [17]:
# Example of preparing data for one category
category_df, user_agg = prepare_data_for_category(categories[0])

In [18]:
category_df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,is_purchase
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc,0
12,2019-10-01 00:00:13 UTC,view,3900746,2053013552326770905,appliances.environment.water_heater,haier,102.38,555444559,98b88fa0-d8fa-4b9d-8a71-3dd403afab85,0
27,2019-10-01 00:00:25 UTC,view,3900990,2053013552326770905,appliances.environment.water_heater,ariston,122.18,554748717,5459fbe4-2aa5-42b9-9064-05f853218fe0,0
38,2019-10-01 00:00:31 UTC,view,3900746,2053013552326770905,appliances.environment.water_heater,haier,102.38,555444559,98b88fa0-d8fa-4b9d-8a71-3dd403afab85,0
71,2019-10-01 00:01:00 UTC,view,3900930,2053013552326770905,appliances.environment.water_heater,teploross,90.32,555444559,98b88fa0-d8fa-4b9d-8a71-3dd403afab85,0

Step 2: Quadrant Assignment

In [19]:
import numpy as np

In [20]:
# Function to assign quadrants based on predefined thresholds
def assign_quadrants(user_agg):
    # Define thresholds (these are examples; adjust according to your analysis)
    price_threshold = user_agg['price'].median()
    purchase_threshold = user_agg['is_purchase'].median()
   
    # Assign quadrants
    user_agg['quadrant'] = np.where(
        (user_agg['price'] > price_threshold) & (user_agg['is_purchase'] > purchase_threshold), 'Sure Things',
        np.where((user_agg['price'] > price_threshold) & (user_agg['is_purchase'] <= purchase_threshold), 'Sleeping Dogs',
        np.where((user_agg['price'] <= price_threshold) & (user_agg['is_purchase'] > purchase_threshold), 'Persuadables',
        'Lost Cause'))
    )
   
    return user_agg

In [21]:
# Example of assigning quadrants for one category's user data
user_agg = assign_quadrants(user_agg)

Step 3: Visualization

In [22]:
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
# Function to create and save quadrant plot for a category
def create_quadrant_plot(category_id, user_agg, price_threshold, purchase_threshold):
    plt.figure(figsize=(10, 6))
   
    # Plot the quadrant data
    sns.scatterplot(data=user_agg, x='price', y='is_purchase', hue='quadrant', style='quadrant')
   
    # Add lines to divide the quadrants
    plt.axvline(x=price_threshold, color='gray', linestyle='--')
    plt.axhline(y=purchase_threshold, color='gray', linestyle='--')
   
    plt.title(f'Quadrant Analysis for Category ID: {category_id}')
    plt.xlabel('Price Sensitivity')
    plt.ylabel('Purchase Likelihood')
    plt.legend(title='Quadrant')
   
    # Save the plot
    plt.savefig(f'quadrant_plot_{category_id}.png')
    plt.close()

In [24]:
# Example of creating a quadrant plot for one category
create_quadrant_plot(categories[0], user_agg, user_agg['price'].median(), user_agg['is_purchase'].median())

Step 4: Store Results Separately for Each Category

In [30]:
# Function to store results for each category
def store_results_for_category(category_id, category_df, user_agg):
    # Merge with original data to include category details
    user_agg = user_agg.merge(category_df[['user_id', 'brand', 'category_code']].drop_duplicates(), on='user_id', how='left')
   
    # Save the results to a CSV file
    user_agg.to_csv(f'/data/CausalTrial/Quadrant/quadrant_analysis_{category_id}.csv', index=False)

In [26]:
# Example of storing results for one category
store_results_for_category(categories[0], category_df, user_agg)

Step 5: Iterate Over All Categories

In [31]:
# Loop over each category_id and apply the steps
for category_id in categories:
    print(category_id)
    # Step 1: Prepare data
    category_df, user_agg = prepare_data_for_category(category_id)
   
    # Step 2: Assign quadrants
    user_agg = assign_quadrants(user_agg)
   
    # Step 3: Create and save the quadrant plot
    create_quadrant_plot(category_id, user_agg, user_agg['price'].median(), user_agg['is_purchase'].median())
   
    # Step 4: Store results separately for each category
    store_results_for_category(category_id, category_df, user_agg)

2053013552326770905
2053013558920217191
2053013555631882655
2053013561092866779
2053013565480109009
2053013554776244595
2053013557099889147
2053013554415534427
2053013555069845885
2053013554658804075
2053013552293216471
2053013565228450757
2053013565983425517
2053013565362668491
2053013563911439225
2053013565782098913
2053013563810775923
2053013553031414015
2053013560086233771
2053013565069067197
2053013553341792533
2053013565413000141
2053013561579406073
2053013555321504139
2053013554247762257
2053013558391734853
2053013556311359947
2053013553090134275
2053013565127787455
2053013555573162395
2053013557418656265
2053013560807654091
2053013553970938175
2053013554751078769
2172371436436455782
2053013563944993659
2053013563097744201
2053013555816432043
2053013555095011711
2053013558316237377
2053013552351936731
2053013553945772349
2053013555262783879
2053013566100866035
2053013564674802599
2053013560530830019
2110187395394568257
2127425436764865054
2053013560899928785
2053013558433677895
2053013554834964853
2053013566209917945
2053013557192163841
2053013563835941749
2053013552913973497
2053013556227473861
2053013562292437791
2053013554155487563
2053013559868129947
2053013552695869677
2053013556202308035
2053013564003713919
2053013557603205653
2053013552888807671
2053013566142809077
2116907525176557699
2053013552955916539
2055156924407612189
2053013552737812719
2053013566033757167
2053013557670314521
2096280510920655375
2095518921321874323
2053013559901684381
2053013565639492569
2053013555531219353
2094006249627582860
2053013556252639687
2053013560497275585
2053013554189041997
2053013565706601437
2116907519078040377
2100064855133258156
2053013556344914381
2053013561059312345
2053013553316626707
2146660887002349890
2053013566243472379
2053013561780732677
2053013554096767303
2053013557343158789
2053013557133443581
2053013560178508465
2053013566176363511
2053013560346280633
2053013565748544479
2053013554121933129
2053013565329114057
2053013563877884791
2135658542101693154
2053013555120177537
2053013554222596431
2053013553257906447
2116907524379639897
2138568472580325973
2070005009382114061
2053013560866374351
2053013563743667055
2053013552570040549
2053013557477376525
2135658542781170420
2053013555782877609
2053013554474254687
2053013565681435611
2053013560312726199
2053013555464110485
2053013552603594983
2053013565253616583
2053013558945383017
2165087460176953468
2053013553224352013
2053013564599305123
2059484601981600061
2053013554960793975
2053013556487520725
2113934850560885372
2053013559792632471
2116907524572577889
2100065080828756704
2053013554725912943
2053013565824041955
2053013563718501229
2100064858975240628
2053013559440310913
2086471240842740173
2134905045253095435
2053013554566529381
2053013560623104713
2110937143172923797
2053013553140465927
2069241407767315312
2053013562116277013
2097815753423061045
2053013554591695207
2053013555036291451
2053013562946749253
2053013561847841545
2053013562149831447
2116907525235277959
2053013555220840837
2053013561420022511
2053013559960404641
2053013565505274835
2053013553056579841
2096280538292683405
2053013554499420513
2116907524530634847
2110937189033444097
2126679654801604876
2053013559985570467
2053013565152953281
2136935916512478049
2053013554004492609
2110937217663763331
2110937218225800069
2110937219005940617
2139150089359196199
2053013559348036219
2134905044833666047
2053013560581161671
2110937221648352149
2069241409453425602
2116907525143003265
2106075662325383725
2098563460336976001
2127425434894205468
2098563450757186313
2053013552637149417
2116907524295753813
2053013566537072653
2086471240800797129
2053013560061067945
2110187395688169553
2053013565857596389
2059484602015154495
2053013565941482475
2116907524262199379
2109094148110811752
2116907524337696855
2136389353511846005
2053013559842964121
2053013565916316649
2053013552226107603
2053013552502931683
2053013565446554575
2076715364237967901
2135658543242543872
2090228413380952337
2127424820051182462
2172371118332051820
2109094161893294334
2053013565194896323
2116907524488691805
2053013566277026813
2134905044766557181
2172371122509578610
2078957461947024180
2134905045102100487
2053013559255761525
2136389354015162499
2053013564523807647
2144916515806248980
2077453854185620383
2137134549706998477
2053013559406756479
2110187395788832855
2146660887346282824
2053013555724157349
2146551844904632788
2146660887094624580
2164367423673730033
2088750570935419494
2053013556135199167
2053013559381590653
2150829948548416122
2134904980736311929
2146430820443751321
2053013559289315959
2146551843914777018
2137134548792640183
2166064855264526831
2149484526546452752
2110937223082804123
2075962323838697472
2141355031935321056
2090971686529663114
2162513070503494350
2079713979038433581
2173216765583032544
2147123662858224552
2163334578259886795
2163334577303585455
2164478104343413363
2164478103445832281
2146660887203676486
2053013561889784587
2134904982346924669
2084962304016777941
2079713978711277851
2179887840530268640
2134905045177597961
2140784658734907686
2171876348610478994
2171876361721872578
2171876348702753684
2147123663017608108
2171876313638371452
2173325534287627249
2173216763896922288
2166064797106307229
2176851562834428674
2156066252290785356
2159535995811266819
2179887839699796424
2135658545767514950
2186437842094261028
2181922982354485892
2182780329306096562
2155114836386644747
2186437842832458550
2155114835690390267
2185524688778691138
2187707789055361298